.tech-section-container {
    background-color: #0f272f;
    height: 720px;
    width: 100%;
    margin-top: 60px;
}
.tech-content-container {
    display: flex;
    flex-direction: column;
}

.tech-title {
    margin-top: 20px;
    color: white;
    font-size: 25px;
}
