.parent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}

.form-container {
    background-color: #000000;
    padding: 30px;
    border-radius: 7px;
    width: 390px;
    margin-top: 25px;
    position: relative;
    top: 80px;
}

.form-text{
     color: lightgrey;
     font-size: 14px; 
     text-align: center;
}
